@import url("./menu.css");
@import url("./web.css");
@import url("./tabletV.css");
@import url("./tabletH.css");
@import url("./phone.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontrealBoldItalic";
  src: url("../fonts/NeueMontreal-BoldItalic.otf") ;
}

@font-face {
  font-family: "NeueMontrealRegular";
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@font-face {
  font-family: "Thunder";
  src: url("../fonts/Thunder-VF.otf");
}

:root {
  --color1: #17ffad;
  --color2: #ffffff;
  --color3: #300f67;
  --color4: #17ffb1;
  --color5: #6e56e3;
  --color6: #f9746a;
}

html{
  line-height: 1;
}

body {
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h2 {
  font-family: "Thunder";
  font-weight: 700;
  font-size: 5rem;
}

body::-webkit-scrollbar {
  display: none;
}

.green {
  color: var(--color1);
}

.orange {
  color: var(--color6);
}

.logo {
  font-family: "NeueMontrealBoldItalic";
}

/* .top {
  padding-top: 2%;
} */






